<style type="text/css">

body
 {
 margin-top: 100px;
 margin-right: 100px;
 margin-left: 100px;
 margin-bottom: 100px;
 }

.sidepanel
 {
 font-family: verdana, arial;
 font-size: 8pt;
 font-weight: normal;
 color: #FFFFFF;
 background-color: #385370;
 }

.maintext
 {
 font-family: verdana, arial;
 font-size: 9pt;
 font-weight: normal;
 color: #FFFFFF;
 background-color: #3D5D80
 }

.titleheader
 {
 font-family: verdana, arial;
 font-size: 8pt;
 font-weight: bold;
 color: #FFB542;
 background-color: #385370;
 }
a.topmenu:link, a.topmenu:visited  {
 display: block;
 width : 163px;
 font-weight: bold;
 text-decoration: none;
 text-align : left;
 font-family: verdana;
 font-size: 10px;
 color: #FFFFFF;
 height: 14px;
 border-style: none;
 background-color: #7B90A8; } 

a.topmenu:hover {
 display : block;
 width : 163px;
 font-weight: bold;
 text-align: left;
 text-decoration: none;
 font-family: verdana;
 font-size: 10px;
 color: #FFB542;
 height: 14px;
 border-style: none;
 background-color: #385370; }

.topheader {
	border: 2px solid ;
 font-family: verdana;
 font-size: 10px;
 font-weight: bold;
 line-height: 14px;
 color: #ffffff;
 background-color: #7B90A8;
 }
.text {font-family: verdana, arial; font-size: 11px; color: #FFFFFF}
td.dark	{background-color: #363D45; font-size: 1px; line-height: 1px}
td.medium {background-color: #3D5D80; font-size: 1px; line-height: 1px}
td.light {background-color: #636F7C; font-size: 1px; line-height: 1px}

td.pixel {background-color: #CCCCCC; font-size: 1px; line-height: 1px}

td.dark2 {background-color: #27323D; font-size: 1px; line-height: 1px}
td.medium2 {background-color: #425264; font-size: 1px; line-height: 1px}
td.light2 {background-color: #54687E; font-size: 1px; line-height: 1px}


a:link, a:active {  color: #CCCCCC}
a:hover {  color: #FFB542}
a:visited { color: #333333}












.headbox , a.leftmenu {
font-weight : bold; 
text-decoration : none; 
font-size : 80%; 
font-family : Verdana, "Lucida Sans", Arial, Geneva, Helvetica, Helv, "Myriad Web", Syntax, sans-serif; 
} 




a {color : #000000; } 


a.leftmenu:link {
    background-color : #d0e1f5; 
    border : #000000; 
    color : #000000;	
    display : block; 
    padding-top : 2px; 
    padding-right : 2px; 
    padding-bottom : 2px; 
    padding-left : 2px; 
    border-style : solid; 
    border-top-width : 0; 
    border-right-width : 2px; 
    border-bottom-width : 2px; 
    border-left-width : 2px; 
    width : 145px; 
    font-weight : normal; 
    text-align : left; 
} 


a.leftmenu:hover {
	background-color : #98c2f0;
    color : #000000; 
    border : #000000; 
    display : block; 
    padding-top : 2px; 
    padding-right : 2px; 
    padding-bottom : 2px; 
    padding-left : 2px; 
    border-style : solid; 
    border-top-width : 0; 
    border-right-width : 2px; 
    border-bottom-width : 2px; 
    border-left-width : 2px; 
    width : 145px; 
    font-weight : normal; 
    text-align : left; 
} 

a.leftmenu:visited {
	     background-color : #d0e1f5; 
	     border : #000000; 
	     color : #000000;
         display : block; 
         padding-top : 2px; 
         padding-right : 2px; 
         padding-bottom : 2px; 
         padding-left : 2px; 
         border-style : solid; 
         border-top-width : 0; 
         border-right-width : 1px; 
         border-bottom-width : 1px; 
         border-left-width : 1px; 
         width : 145px; 
         font-weight : normal; 
         text-align : left; 
} 

.headbox {
         background-color : #3D5D80;
         color : #ffffff; 
         border : #000000;	
         display : block; 
         padding-top : 2px; 
         padding-right : 2px; 
         padding-bottom : 2px; 
         padding-left : 2px; 
         border-top-width : 2px; 
         border-right-width : 2px; 
         border-bottom-width : 2px; 
         border-left-width : 2px; 
         border-style : solid; 
         width : 145px; 
         text-align : left; 
}

.headbox a:hover{color : #3D5D80 }


</style>
